@import url("https://use.typekit.net/ekc5isu.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://use.typekit.net/ekc5isu.css");
@import url('reset.css');
@import url('jquery.bxslider.css');
@import url('module.css');
@import url('global.css');
@import url('page.css');